* {
  margin: 0;
  padding: 0;
  opacity: 40;
}

body{
  background-color: #161616;
  
 /* background-image: url("https://www.w3schools.com/css/trolltunga.jpg"); */
}

.nav-tabs{
  
  text-align:center;
  position: fixed; 
  background-color: #161616;
				letter-spacing: 0.06em;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1.1em;
				outline: 0;
				color: #FFF;
				
}
.nav-tabs li{
  
  display: inline-block;
  text-align: center;
}


.typewriter h1 {
  float: left;
  padding-top: 1em;
  position: absolute;
  left: 4.3em;
  color: White;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Raleway, Monospace, serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */

  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(30) 1s 1 normal both,
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 40% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.panel{
  
  background: #161616;
}
.panel-body li{
  
  font-family: 'Roboto', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	line-height: 1.75em;
	color: #777;
}

.jumbotron {
  padding-bottom: 10em;
  background-color: #161616;
/*  background-image: url("https://www.w3schools.com/css/trolltunga.jpg"); */

	border-bottom:4px solid #337AB8;
}

/*  can probably delete this*/

.jumbotron p {
  color: White;
  font-size: 15px;
  letter-spacing: 0.06em;
  font-family: Raleway, Georgia, serif;
   float: left;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
}

	.jumbotron text-center figure {
	  
	  display: inline;
		border: 3px solid #eee;
		border-radius: 78px;
		
	}
	
	.jumbotron figure img {
	  
    left: -20em;
	  float: right;
		height: 120px;
		border-radius: 75px;
		position: relative;
		width: 120px;
		
		
	}

#linkedin{
  
   display: inline-block;
   margin: 3px 4px auto;
   
}

#github{
  display: inline-block;
  margin: 3px 5px auto;
}

#facebook{
  
  display: inline-block;
  margin: 3px 5px auto;
}

.outcolor{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.incolor{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}


.transparent .tuyin 
	{
	font-family: 'Raleway', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	line-height: 1.75em;
	color: #777;
	 }
.transparent .tuyin .title 
	{
	  
	text-align: center; 
	color: #FFF;
	font-size: 30px; 
	}
.transparent .tuyin .plan-name 
	{
	
				text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	border-bottom: 1px solid #FFF;
	padding-bottom: 15px;
	padding: 10px
	}

.transparent .tuyin .text
	{
	  
				text-transform: uppercase;
	margin-top: 20px; 
	color: #337AB8;
	font-weight: 300;
	margin-bottom: 13px; 
	font-size: 16px;
	text-align: justify;
	}