

body{
  background: url("http://i183.photobucket.com/albums/x169/Misspell/black_zpsckk3mewf.png") ;
height: 100%;
 
}

.nav-tabs{
  background-image: url("http://i183.photobucket.com/albums/x169/Misspell/black_zpsckk3mewf.png") ;
  display: flex;
  text-align: center;
  position: fixed; 

				letter-spacing: 0.06em;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1.1em;
				outline: 0;

				color: #FFF;
				
}
.nav-tabs li{
    
  display: inline-block;
  text-align: center;
}


.typewriter h2 {

/*	font-weight: 300;*/
	line-height: 1.75em;
margin-left: 100px; 
 padding-top: 1em; 
 float: left;
  left: 40.3em;
  color: White;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Raleway, Monospace, serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a singlse line */

  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end) 1s 1 normal both,
    blink-caret .75s step-end infinite;

}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 60% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}


.jumbotron {
 background-image: url("http://i183.photobucket.com/albums/x169/Misspell/black_zpsckk3mewf.png");

	border-bottom:4px solid #337AB8;

}



	.jumbotron text-center figure {
	  
	  display: inline;
		border: 3px solid #eee;
		border-radius: 78px;
		
	}
	
	.jumbotron figure img {
    		left: 15em;
		float: right;
		height: 120px;
		border-radius: 75px;
		position: relative;
		bottom: -1em;
		width: 120px;
		
		
	}

#linkedin{
  
   display: inline-block;
   margin: 3px 4px auto;
   
}

#github{
  display: inline-block;
  margin: 3px 5px auto;
}

#facebook{
  
  display: inline-block;
  margin: 3px 5px auto;
}

.outcolor{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.incolor{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}


.transparent .tuyin 
	{
	font-family: 'Raleway', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	line-height: 1.75em;
	color: #777;
	 }
.transparent .tuyin .title 
	{
	  
	text-align: center; 
	color: #FFF;
	font-size: 30px; 
	}
.transparent .tuyin .plan-name 
	{
	
				text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	border-bottom: 1px solid #FFF;
	padding-bottom: 15px;
	padding: 10px
	}

.transparent .tuyin .text
	{
	  
				text-transform: uppercase;
	margin-top: 20px; 
	color: #337AB8;
	font-weight: 300;
	margin-bottom: 13px; 
	font-size: 16px;
	text-align: justify;
	}

.form-group {
  margin-bottom: 20px;
}
/* ===========================
--- Services
============================ */
.service-box {
	background: #337AB8;
	border-bottom: 2px solid #f7f7f7;
	padding: 40px 20px;
	opacity: 0.2;
	border: 3px solid #f7f7f7;
}

.service-box:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	margin-top: -20px;

}

.service-icon {
	margin-bottom: 20px;

}

.service-desc h5 {
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	font-size: 18px;
	margin-bottom: 10px;}
.service-desc .divider-header {
	margin-bottom: 30px;
}